treecontrol {
    /* prevent user selection */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* default */
    font-family: 'Lato-Light', arial, sans-serif;
    font-size:13px;
    color: #ffffff;
    text-decoration: none;
}

.treecontrol-container {}

treecontrol ul {
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
    margin-top:2px !important;
}

treecontrol li {
    position: relative;
    padding: 0;
    line-height: 20px;
    margin-left:30px;
    margin-bottom:2px;
}

treecontrol a {
    font-family: 'Lato-Light', arial, sans-serif;
    font-size:13px;
    color: #ffffff;
}

treecontrol li.tree-expanded i.tree-leaf-head, treecontrol li.tree-collapsed i.tree-leaf-head {display:none;}
treecontrol li.tree-expanded i.tree-branch-head, treecontrol li.tree-collapsed i.tree-branch-head {display:inline;}
treecontrol li.tree-leaf i.tree-branch-head {display:none;}
treecontrol li.tree-leaf i.tree-leaf-head {display:inline;}

treecontrol li i.tree-branch-head {
    cursor: pointer;
}

treecontrol li .tree-label {
    cursor: pointer;
    display: inline;
}

treecontrol li .tree-unselectable {
    cursor: not-allowed;
}

treecontrol.tree-classic li.tree-expanded i.tree-branch-head {
    padding: 1px 10px;
    background: url("../images/folder.png") no-repeat;
}

treecontrol.tree-classic li.tree-collapsed i.tree-branch-head {
    padding: 1px 10px;
    background: url("../images/folder-closed.png") no-repeat;
}

treecontrol.tree-classic li.tree-leaf i.tree-leaf-head {
    padding: 1px 10px;
    background: url("../images/file.png") no-repeat;
}

treecontrol.tree-classic li .tree-selected {
    background-color: #aaddff;
    font-weight: bold;
}

treecontrol.tree-classic li .tree-unselectable {
    color: #ddd;
}

treecontrol.tree-light li.tree-expanded i.tree-branch-head {
    padding: 1px 12px;
    background: url("../images/icon-nav-arrow-white.svg") no-repeat;
    background-size: 10px 5.5px;
    background-position: center;
}

treecontrol.tree-light li.tree-collapsed i.tree-branch-head {
    padding: 1px 8px;
    background: url("../images/icon-nav-arrow-white-closed.svg") no-repeat;
    background-size: 5.5px 10px;
}

treecontrol.tree-light li.tree-leaf i.tree-leaf-head {
    padding: 1px 8px;
    background: none no-repeat;
}

treecontrol.tree-light li .tree-selected {
    font-weight: bold;
}

treecontrol.tree-light li .tree-unselectable {
    color: #ddd;
}

treecontrol.tree-dark li.tree-expanded i.tree-branch-head {
    padding: 1px 16px;
    background: url("../images/icon-folder-white.svg") no-repeat;
}

treecontrol.tree-dark li.tree-collapsed i.tree-branch-head {
    padding: 1px 16px;
    background: url("../images/icon-folder-white.svg") no-repeat;
}

treecontrol.tree-dark li.tree-leaf i.tree-leaf-head {
    padding: 1px 16px;
    width: 16px; height: 16px;
    background: url("../images/icon-folder-white.svg") no-repeat;
}

treecontrol.tree-dark li .tree-selected {
    font-weight: bold;
}

treecontrol.tree-dark li .tree-unselectable {
    color: #777;
}

treecontrol.tree-dark {
    color: #ddd;
}