/* Reset default browser CSS. 
   Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
----------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
:focus { outline: 0; }
body { background: #fff; line-height: 1; }
ol, ul { list-style: none; }
table {/* tables still need 'cellspacing="0"' in the markup */ border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: 0; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
/* End reset */

/* Css */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.ttf')  format('truetype'),
       url('../fonts/Lato-BlackItalic.ttf')  format('truetype'),
       url('../fonts/Lato-Bold.ttf')  format('truetype'),
       url('../fonts/Lato-BoldItalic.ttf')  format('truetype'),
       url('../fonts/Lato-Hairline.ttf')  format('truetype'),
       url('../fonts/Lato-HairlineItalic.ttf')  format('truetype'),
       url('../fonts/Lato-Italic.ttf')  format('truetype'),
       url('../fonts/Lato-Light.ttf')  format('truetype'),
       url('../fonts/Lato-LightItalic.ttf')  format('truetype'),
       url('../fonts/Lato-Regular.ttf')  format('truetype');
}
.clear-fix:after { clear: both; content: ""; display: block; height: 0; visibility: hidden; }


* {
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
    margin:0; 
    padding:0;
}

.nopadding {
    padding: 0!important;
}

.container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height:100%;
    width: 100%;
}

html, body {
    height: 100%;
}

body {
	background: #fff;
    color: #333;
    font:400 16px/1.525em 'Lato-Light', arial, sans-serif;
}

p {
	margin-bottom:1rem;
}


em {
	font-style:italic;
}

strong {
	font-weight:bold;
}

ul { 
	list-style:inside;
    margin-bottom: 2rem;
}

ol {
    list-style: decimal;
    padding-left: 1.4rem;
    margin-bottom: 2rem;
}

li { 
	margin:0 0 0.5em 1rem;
}


a:link, a:visited, a:active {
	color:#5491db;
	text-decoration:none;	
}

a:hover {
	color:#5491db;
    text-decoration: underline;
}

.alignleft {
	float: left;
	margin:0.5rem 1rem 0.5rem 0;
}

.alignright {
	float: right;
	margin:0.5rem 0 0.5rem 2rem;
}

.aligncenter {
	display: block;
    height:100%;
	margin:1rem auto;
	width:100%;
}

.nowrap {
    white-space: nowrap;
}


/* Images */
img {
	height: auto;
	max-width: 100%;
}



/* Header */
#main-header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    width: 100%;
}

.logotype-area {
    float: left;
    padding-left: 20px;
    width:23.5%;
}

.search-area {
    float: left;
    padding-left: 20px;
    padding-top: 9px;
    width: 66%;
}

.search-area input[type=text] {
    border: 1px solid #ccc;
    font:400 16px/1.525em 'Lato', arial, sans-serif;
    max-width: 80%;
    padding: 4px 10px;
    width: 100%;
}

::-webkit-input-placeholder {
    font:300 16px/1.525em 'Lato', arial, sans-serif;
}

:-moz-placeholder {
   font:300 16px/1.525em 'Lato', arial, sans-serif;
}
::-moz-placeholder {
   font:300 16px/1.525em 'Lato', arial, sans-serif;
}
:-ms-input-placeholder { 
   font:300 16px/1.525em 'Lato', arial, sans-serif;
}

.search-btn {
    background-color: #aacd4d;
    border: none;
    margin-left: 5px;
    margin-top: 1px;
    padding: 8px 20px;
}

.search-icon {
    width: 16px;
}

.profile-area {
    float: right;
    padding-right: 20px;
    padding-top: 3px;
    width: 80px;
}

.profile-arrow {
    float: left;
    margin-top: 35%;
    width: 10px;
}

.profile-image {
    border: 2px solid #aacd4d;
    border-radius: 50%;
    float: right;
    width: 45px;
}

#main-sidebar {
    height: 100%;
    min-width: 250px;
    max-width: 275px;
    padding: 5px 5px 0 10px;
    margin: 0!important;
    background: #353b44; /* Old browsers */
    background: -moz-linear-gradient(left,  #353b44 97%, #1f2329 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(97%,#353b44), color-stop(100%,#1f2329)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #353b44 97%,#1f2329 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #353b44 97%,#1f2329 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #353b44 97%,#1f2329 100%); /* IE10+ */
    background: linear-gradient(to right,  #353b44 97%,#1f2329 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353b44', endColorstr='#1f2329',GradientType=1 ); /* IE6-9 */ 
}

#page-content {
    margin: 2%;
    width: 98%;
}

/* Left navigation */
.navigation {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.navigation ul {
    list-style: none;
    margin-top: 30px;
}

.navigation ul li {
    padding-bottom: 10px;
}

.navigation ul ul {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
}

.navigation ul ul li {
    padding-bottom: 0;
}
.navigation a {
    color:rgba(255, 255, 255, 0.90);
}

.navigation .navsmall {
    font-size: 13px;
    line-height: 1rem;  
}

.div-above {
    border-top: 1px solid #fff;
    margin-top: 20px;
    padding-top: 20px;
}

.nav-arrow {
    float: right;
    width:16px;
}

.tree-link {
    display: block;
    float: left;
    margin: -4px 10px 0 -20px;
    padding: 0;
    width:10px; 
}

.nav-arrow-icon{
    transform: rotate(-90deg);
}

.nav-icon {
    margin-right: 10px;
}

#main-content {
    flex: 1 1 auto;
    height:100%;
    width: 100%;
}

.list-meta-bar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 5px 20px;
    width: 100%;
}

.breadcrumb {
    float: left;
	list-style: none; 
    margin: 5px 0 0 0;
    overflow: hidden; 
}

.breadcrumb li {
	float: left; 
    margin: 0 10px 0 0;
}

.breadcrumb li a {
    color: #222;
    font-size: 13px;
	text-decoration: none; 
}

.breadcrumb li:after {
    content: "\3E";
    margin-left: 10px;
}

.breadcrumb li.breadcrum-last {
    font-weight: bold;
}

.breadcrumb li.breadcrum-last:after {
    content: none;
}

.meta-functions {
    float: right!important;
    margin: 0!important;
}

.meta-functions ul {
    list-style: none;
    margin: 0;
}

.meta-functions ul li {
    display: inline;
    margin: 0;
}

.sort-by {
    font-size: 12px;
    padding: 0 10px;
}

.meta-functions a {
    background-color: transparent;
    border: 1px solid #f8f8f8 ;
    display:inline-block;
    margin-left: 5px;
    padding: 5px 7px 2px
}

.meta-functions a:hover {
    background-color: #f0f0f0;
    border: 1px solid #aacd4d ;
}



/* Listning */
.table {
    display: table;
    font-size: 13px;
    width: 100%;
}

.tablerowgroup {
    display: table-row-group;
}

.tablerow {
    display: table-row;
}

.tablecell {
    border-bottom: 1px solid #eee;
    display: table-cell;
    overflow:hidden;
    padding: 10px 20px 10px 0;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.listheader {
    font-size: 12px;
    font-weight: bold;
}

.cellmain {
    padding-left: 20px;
    width: 40%;
}

.cfslarge {
    font-size: 13px;
}

.listheader .tablecell {
    padding: 5px 20px 5px 0;
}
.listheader .cellmain {
    padding-left: 20px;
}

.icon-folder {
    float: left;
    height: 16px;
    margin-right: 20px;
    width: 22px;
}

.icon-doc {
    float: left;
    height: 22px;
    margin-right: 20px;
    width: 22px;
}

.border {
    border: 1px solid #eee;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
