
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clear-fix">
                <div class="alignleft">
                    <h4 class="modal-title">{{settings.title}}</h4>
                </div>
                <div class="alignright">
                    <button type="button" class="btn btn-default" ng-click="$hide()">Avbryt</button>
                    <button type="button" class="btn btn-primary" ng-click="$hide()">Spara</button>
                </div>
             </div>
            <div class="modal-body clear-fix">
                <div class="alignleft">
                    <ul class="tabs-nav-vertical">
                        <li class="active"><a href="#">Visningsalternativ</a></li>
                    </ul>
                </div>
                <div class="alignleft">
                    <div>
                        <label>Skapad av <input type="checkbox" ng-model="settings.settingsModel.displayAlternative.createdBy" /></label>
                    </div>
                    <div>
                        <label>Ansvarig <input type="checkbox" ng-model="settings.settingsModel.displayAlternative.responsible" /></label>
                    </div>
                    <div>
                        <label>Datum <input type="checkbox" ng-model="settings.settingsModel.displayAlternative.date" /></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>