<a href="#"><img src="images/icon-nav-arrow-dark.svg" class="nav-arrow" alt="Minimera menyn"/></a>
<nav class="navigation">
    <ul>
        <li> <a ng-link="document" class="tree-link"><img src="images/icon-nav-arrow-white.svg" class="nav-arrow-icon" /> </a><img src="images/icon-folder-white.svg" alt="Mappar och Dokument" width="22" height="16" class="nav-icon" /><a ng-link="document" >Mappar och Dokument</a></li>
        <li>
            <div class="treecontrol-container" ng-show="navigation.documentTreeActivated">
                <treecontrol class="tree-light" tree-model="navigation.documentTreeData" on-selection="navigation.handleDocumentSelection(node)">
                    {{node.name}}
                </treecontrol>
            </div>
        </li>
        <li><img src="images/icon-case-white.svg" alt="Ärenden" width="22" height="15" class="nav-icon"/><a href="#">Ärenden</a>
        </li>
        <li class="div-above">
            <img src="images/icon-search-white.svg" width="22" height="16" class="nav-icon"/>Snabbgenvägar
            <ul class="short-cuts">
                <li><a href="#">Senaste Skapade</a></li>
                <li><a href="#">Senaste Sparade</a></li>
                <li><a ng-link="home">Senaste Öppnade</a></li>
                <li><a href="#">Arbetsmaterial</a></li>
                <li><a href="#">Arbetsmaterial utan fil</a></li>
                <li><a href="#">Utcheckade dokument</a></li>
                <li><a href="#">Makulerade handlingar</a></li>
            </ul>
        </li>
        <li class="navsmall" ng-hide="navigation.changeUnitMode">
            Byt enhet<br/>
            <a href="#"
               ng-click="navigation.startChangeUnit(); $event.preventDefault()">{{app.currentUser.unit.name}}</a>
        </li>
        <li class="navsmall" ng-show="navigation.changeUnitMode">
            <div class="cfslarge" ng-show="navigation.changeUnitMode">
                <select data-ng-model="navigation.changedUnit"
                        data-ng-options="unit as unit.name for unit in app.currentUser.units track by unit.name"></select>
                <a href="#" ng-click="navigation.saveUnit(); $event.preventDefault()" class="marginright">Spara</a><a
                    href="#" ng-click="navigation.cancelChangeUnit(); $event.preventDefault()">Avbryt</a>
            </div>
        </li>
        <li class="navsmall"><a href="#">Hjälp</a></li>
        <li class="navsmall"><a href="#">Kontakt</a></li>
    </ul>
</nav>
