<div class="logotype-area"><img src="images/logo-temp.png" alt="Hem" class="logotype" /></div>
<div class="search-area">
    <form><input type="text" name="serachfield" placeholder="Sök i EssVision" /><button class="search-btn" aria-label="Sök i EssVision"><img src="images/icon-search-white.svg" alt="Sök i EssVision" class="search-icon" /></button> </form>
</div>
<div class="profile-area"> <img src="images/icon-arrow-green.svg" alt="Öppna profil" class="profile-arrow" /><img src="images/nathan-fillion.jpg" alt="Nathan Filion" class="profile-image" /></div>
