<div class="list-meta-bar clear-fix">
    <div class="alignleft">
    </div>
    <div class="alignleft">
    </div>
</div><!-- end list-meta-bar -->
<div id="page-content">
    <div class="table">
        <div class="tablerowgroup">
              <div class="tablerow listheader">
                <div class="tablecell cellmain sortedby">
                    Namn <img src="images/icon-arrow-black.svg" width="10" alt="Sorterad på" />
                </div><!-- tablecell -->
                <div class="tablecell">
                    DokumentID
                </div><!-- tablecell -->
                <div class="tablecell">
                    Kontaktnamn
                </div><!-- tablecell -->
                <div class="tablecell">
                    Skapad
                </div><!-- tablecell -->
            </div><!-- tablerow -->
        </div><!-- tablerowgroup -->



        <div class="tablerowgroup" data-ng-repeat='child in document.selectedNode.children'>
            <div class="tablerow">
                <div class="tablecell cellmain cfslarge">
                    <img src="images/icon-document-text.svg" class="icon-folder" alt="Mapp" />{{child.name}}
                </div><!-- tablecell -->
                <div class="tablecell">
                    {{child.documentId}}
                </div><!-- tablecell -->
                <div class="tablecell">
                    {{child.contact}}
                </div><!-- tablecell -->
                <div class="tablecell">
                    {{child.created}}
                </div><!-- tablecell -->
            </div><!-- tablerow -->
        </div><!-- tablerowgroup -->


    </div><!-- table -->

</div><!-- end #page-content -->
