<div class="list-meta-bar clear-fix">
    <div class="alignleft">
        <document-bread-crumbs></document-bread-crumbs>
    </div>
    <div class="alignright">
        <a href="#"><img src="images/icon-info-grey.svg" class="search-icon"/></a>
    </div>
</div>
<div id="page-content">
    <div class="table">
        <div class="tablerowgroup">
              <div class="tablerow listheader">
                <div class="tablecell cellmain sortedby">
                    Namn <img src="images/icon-arrow-black.svg" width="10" alt="Sorterad på" />
                </div>
                <div class="tablecell">
                    DokumentID
                </div>
                <div class="tablecell">
                    Kontaktnamn
                </div>
                <div class="tablecell">
                    Skapad
                </div>
            </div>
        </div>

        <div class="tablerowgroup" data-ng-repeat='child in document.getNodesToRender()'>
            <div class="tablerow">
                <div class="tablecell cellmain cfslarge">
                    <render-document-icon data-document-type="{{child.type}}"></render-document-icon><a ng-dblclick="document.openNode(child);$event.preventDefault()" >{{child.name}}</a>
                </div>
                <div class="tablecell">
                    {{child.documentId}}
                </div>
                <div class="tablecell">
                    {{child.contact}}
                </div>
                <div class="tablecell">
                    {{child.created}}
                </div>
            </div>
        </div>


    </div>

</div>
